body{
    background-color: #292929;
}

#starselect{
    text-align: center;
    color:white;
    margin: auto;
}

#optionsel{
    text-align: center;
    margin-right: 1em;
    color: white;
}

#sktable{
    text-align: center;
    color: white;
}

#tablepair{
    text-align: center;
}

#centering{
    text-align: center;
    margin: auto;
}

#tierlist{
    text-align: center;
    color:white;
    margin: auto;
}

/* .sidebar{
    position: sticky;
    top: 15em;
} */



/* @keyframes vocalanim{
    to{
        background: #9DBFF9;
    }
}

@keyframes danceranim{
    to{
        background: #EF9A9A;
    }
}

@keyframes sessionanim{
    to{
        background: #A5D6A7;
    }
}

.btnvc:hover{
    display: inline-block;
    animation:vocalanim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    color: #292929;
}



.btndc:hover{
    display: inline-block;
    animation:danceranim; 
    animation-duration: 0.5s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    color: #292929;
}

.btnss:hover{
    display: inline-block;
    animation:sessionanim; 
    animation-duration: 0.5s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    color: #292929;
} */

.btnvc{
    background: #9DBFF9;
    color: #292929;
}

.btndc{
    background: #EF9A9A;
    color: #292929;
}

.btnss{
    background: #A5D6A7;
    color: #292929;
}

/* animate__slideInLeft */