body{
    background-color: #292929
}

#starselect{
    text-align: center;
    color:white;
    margin: auto;
}

#optionsel{
    text-align: center;
    margin-right: 1em;
    color: white;
}

#sktable{
    text-align: center;
    color: white;
}

#tablepair{
    text-align: center;
}

#centering{
    text-align: center;
    margin: auto;
}

.centering{
    text-align: center;
    margin: auto;
}

#tierlist{
    text-align: center;
    color:white;
    margin: auto;
}

/* .sidebar{
    position: sticky;
    top: 15em;
} */


/* all atr button anim */
.btnatr{
    position: relative;
    border: 2px solid #FFC107;
    color: #FFC107;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s all ease;
}

.btnatr::before{
    background: #FFC107;
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg) ;
    z-index: -1;
    transition: 0.5s all ease;
}

.btnatr:hover::before{
    height: 580%; 
}

/* end of vocal button */


/* vocal button anim */
.btnvc{
    position: relative;
    border: 2px solid #9DBFF9;
    color: #9DBFF9;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s all ease;
}

.btnvc::before{
    background: #9DBFF9;
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg) ;
    z-index: -1;
    transition: 0.5s all ease;
}

.btnvc:hover::before{
    height: 580%; 
}

/* end of vocal button */

/* button dancer anim */
.btndc{
    position: relative;
    border: 2px solid #EF9A9A;
    border-radius: 20px;
    color: #EF9A9A;
    overflow: hidden;
    transition: 0.5s all ease;
}

.btndc::before{
    background: #EF9A9A;
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg) ;
    z-index: -1;
    transition: 0.5s all ease;
}

.btndc:hover::before{
    height: 580%; 
}
/* end of dancer anim */

/* session button anim */
.btnss{
    position: relative;
    border: 2px solid #A5D6A7;
    border-radius: 20px;
    color: #A5D6A7;
    overflow: hidden;
    transition: 0.5s all ease;
}

.btnss::before{
    background: #A5D6A7;
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg) ;
    z-index: -1;
    transition: 0.5s all ease;
}

.btnss:hover::before{
    height: 580%; 
}

.songcard{
    animation: slideInLeft;
    animation-duration: 0.5s;
}

.songmission{
    animation: slideInRight;
    animation-duration: 0.5s;
}

.cardsongttl{
    animation: slideInDown;
    animation-duration: 0.5s;
}

.btnsort{
    position: relative;
    border: 2px solid white;
    color: white;
}

.loading{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(75deg);
    width: 15px;
    height: 15px;
    opacity: 1;
}

.loading::before,.loading::after{
    display: block;
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    animation: loadinganim 1.2s infinite linear;
    opacity: 1;
}

.loading::before{
    display: block;
    box-shadow: 15px 15px #EF9A9A,-15px -15px #9DBFF9;
}
.loading::after{
    display: block;
    box-shadow: 15px 15px #A5D6A7,-15px -15px #FFC815;
    transform: translate(-50%,-50%) rotate(90deg);
}

@keyframes loadinganim{
    50%{
        height: 45px;
    }
}

.loadingbg{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
}

.skilltabanim{
    animation: slideInLeft;
    animation-duration: 0.5s;
}

/* go to sk button anim */
.btnsktab{
    position: relative;
    border: 2px solid #FFC107;
    color: #FFC107;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s all ease;
}

.btnsktab::before{
    background: #FFC107;
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg) ;
    z-index: -1;
    transition: 0.5s all ease;
}

.btnsktab:hover::before{
    height: 750%; 
}

/* end of go to sk button */

/* go to sk button anim */
.btnsktabx{
    position: relative;
    border: 2px solid #FFC107;
    color: #FFC107;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s all ease;
}

.btnsktabx::before{
    background: #FFC107;
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg) ;
    z-index: -1;
    transition: 0.5s all ease;
}

.btnsktabx:hover::before{
    height: 2250%; 
}

/* end of go to sk button */

.loginbox{
    background: none;
    width: 300px;
    padding: 10px;
    border: 2px solid #BC8CE0;
    border-radius: 20px;
    transition: 0.3s;
}

.loginbox:focus{
    width: 380px;
    border-color: #FFE082;
}

.jumbobg{
    background-image: url(../asset/paralaxbg.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 720px) {
    .jumbobg{
      background-attachment: scroll;
    }
}

.jumbobg2{
    background-image: url(../asset/paralaxbg2.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 720px) {
    .jumbobg2{
      background-attachment: scroll;
    }
}

.jumbobgtop{
    background-image: url(../asset/univbg.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 720px) {
    .jumbobgtop{
      background-attachment: scroll;
    }
}

.rhomclip{
    border: 4px solid white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    filter: grayscale(1);
    transition: 0.5s ease;
}
.rhomclip:hover{

    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    filter: grayscale(0);
    transition: 0.5s ease;
}

.eventhov{
    transition: 0.5s ease
}

.eventhov:hover{
    transform: scale(1.2);
    transition: 0.5s ease
}

/* end of session anim */

/* animate__slideInLeft */

/* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */